*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    color: $color-black-0;
    line-height: $line-height-0;
    background-color: $color-white-0;
}