.footer{
    background-color: #343a40;
    margin-top: 50px;
    .content{
        .address{
            padding:30px 10px;
            h3{
                @include text($color-white-0,$fs-3,$fw-bold)
            }
            h5{
                margin:10px 0;
                @include text($color-white-0,$fs-1,$fw-normal)
            }
            p{
                margin: 0px 0px;
                    @include text($color-white-0,$fs-0,$fw-normal)

            }
        }
        .bonus{
            padding:30px 10px;

            h3{
                @include text($color-white-0,$fs-3,$fw-bold)
            }
            p{
                margin: 0px 0px;
                @include text($color-white-0,$fs-0,$fw-normal)

            }
        }
        .sub{
            padding:30px 10px;

            h3{
                @include text($color-white-0,$fs-3,$fw-bold)
            }
            .form-group{
                width: 100%;
                margin-left: 10px;
                .form-control{
                    width: 70%;
                    display: inline;
                }
            }
         
        }
        

    }
}