.myNavBar {
  // line-height: 70px;
  padding-top: 10px;
  padding-left:10px ;
  padding-right: 35px;
  border-bottom: 1px solid $color-gray-3;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;
  .navbar-brand {
    margin-left: 40px;
    flex-grow: 2;
    align-self: center; //khi bên trong có display-flex thì tk con có thể xủ dụng để canh giữa
    img {
      width: 110px;
      height: 31.89px;
    }
  }

  .input_search {
    flex-grow: 2;
    .input-group {
      margin-bottom: 0px !important;
    }
    .form-control {
      height: 44px;
      line-height: $line-height-0;
      padding: 10px;
      background-color: $color-white-0;
      border-top: 1px solid $color-gray-3;
      border-bottom: 1px solid $color-gray-3;
      border-left: 1px solid $color-gray-3;
      border-right: none;
      transition: none;
      &:focus {
        box-shadow: none;
        background-color: $color-white-0;
        border-top: 1px solid $color-gray-3;
        border-bottom: 1px solid $color-gray-3;
        border-left: 1px solid $color-gray-3;
      }
      &:focus + .input-group-prepend {
        //focus vô nut search
        .input-group-text {
          background-color: $color-white-0;
          color: $color-green-0;
          border-top: 1px solid $color-gray-3;
          border-bottom: 1px solid $color-gray-3;
          border-left: 1px solid $color-gray-3;
        }
        &:hover {
          .input-group-text {
            background-color: $color-yellow;
            color: $color-white-0;
          }
        }
      }
    }
    .input-group-prepend {
      .input-group-text {
        background-color: $color-white-0;
        color: $color-yellow;
        border-top: 1px solid $color-gray-3;
        border-bottom: 1px solid $color-gray-3;
        border-right: 1px solid $color-gray-3;
        border-left: none;
      }
      &:hover {
        .input-group-text {
          background-color: $color-yellow;
          color: $color-white-0;
        }
      }
    }
  }
  .menu__right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .cart {
      position: relative;
      text-align: center;
      width: 45px;
      height: 45px;
      line-height: 55px;
      border-radius: 50%;
      background-color: transparent;
      border: 1px solid transparent;
      margin-right: 15px;
      cursor: pointer;
      .lnr {
        font-size: 25px;
        color: #ec5252;
      }
      .cart__quantity {
        position: absolute;
        top: 0;
        right: 0;
        line-height: 18px;
        color: #fff;
        font-size: 0.8rem;
        font-weight: 700;
        background-color: #ec5252;
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
    }
    .noti {
      position: relative;
      text-align: center;
      width: 45px;
      height: 45px;
      line-height: 55px;
      border-radius: 50%;
      background-color: transparent;
      border: 1px solid transparent;
      cursor: pointer;
      margin-right: 20px;
      margin-top: 3px;
      .lnr {
        font-size: 25px;
        color: blue;
      }
      .noti__quantity {
        position: absolute;
        top: 0;
        right: 0;
        line-height: 18px;
        color: #fff;
        font-size: 0.8rem;
        font-weight: 700;
        background-color: #ec5252;
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
    }
    a {
      text-decoration: none;
      .admin__panel {
        cursor: pointer;
        margin-right: 20px;
        margin-top: 8px;
        .lnr {
          font-size: 30px;
          color: gray;
          outline: none;
          border: none;
        }
      }
    }
    .user {
      position: relative;
      margin: 0;
      .user__avatar {
        width: 45px;
        height: 45px;
        border: 1px solid rgba(177, 177, 177, 0.8);
        border-radius: 50%;
        background-color: rgba(211, 211, 211, 0.5);
        padding: 10%;
        cursor: pointer;
        z-index: 10;
        img {
          width: 100%;
        }
      }
      .logout__btn {
        position: absolute;
        top: 0%;
        right: 0%;
        text-align: center;
        width: 100px;
        height: 45px;
        line-height: 50px;
        cursor: pointer;
        background-color: rgba(136, 135, 135, 0.5);
        border: 1px solid rgba(168, 167, 167, 0.5);
        margin-left: 2%;
        opacity: 0;
        visibility: hidden;
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
        transition: all 0.7s;
        .lnr {
          font-size: 1.5rem;
          color: white;
          margin-left: 5px;
        }
        &:hover {
          right: -90%;
          opacity: 1;
          visibility: visible;
        }
      }
      &:hover {
        .logout__btn {
          right: -90%;
          opacity: 1;
          visibility: visible;
        }
      }
    }
    // .button {
    //   // margin-left: 100px;
    // }
  }
}
.myCover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // height: 650px;
  position: relative;



  // @include respond-to('extra-large'){
  //     .navbar-nav{
  //         .business,.instructor{
  //         display: none;
  //     }}

  // }
  // @include respond-to('medium'){
  //         .categories .input_search{
  //         display: none;
  //     }

  // }
}
